HOST=localhost
PORT=3001

# set to "production" ONLY IN A PRODUCTION ENVIRONMENT!!! this is for cookies and other stuff that might mes sup security
NODE_ENV="development"

JWT_SECRET=someSpecialSecret
# number of SECONDS for user session expiration
USER_SESSION_EXPIRATION=2000
USER_REFRESH_TOKEN_EXPIRATION=604800 #7 days in seconds, stored in redis
# REDUCE THIS IN TESTING ENVIRONMENTS!!!
PASSWORD_SALT_ROUNDS=11

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=12345
REDIS_EMAIL_EXPIRY=900

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=user1
DB_PASSWORD=12345
DB_NAME=db1
# this is the user default role - non admin w/out any privelidges
DB_BASE_USER_ROLE=BASE_ROLE

RESEND_API_KEY=myResendKey
FRONT_END_URL='http://localhost:5173'
